.example-container {
    height: 100vh;
    margin: 10px;
    border: 1px solid #555;
  }

  .align{
      margin: 3% 0%;
      display: flex;
      justify-content: center;
  }

  .mat-drawer{
    background-color: #E5E7E9;
    width: 10vw;
  }

  .mat-drawer-content{
      background-color: #F7F9F9 ;
  }

  .clickCss{
      background-color: #808B96 ;
      color: #E5E7E9;
  }