<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
       
        <div class="align">
            <button [ngClass]="{clickCss : clicked == ngModule}" (click)="changeAction('ngModule')" mat-raised-button>ngModule</button>     
        </div>

        <div class="align">
            <button [ngClass]="{clickCss : clicked == ngFor}" (click)="changeAction('ngFor')" mat-raised-button>ngFor</button>
        </div>

        <div class="align">   
            <button [ngClass]="{clickCss : clicked == ngIf}" (click)="changeAction('ngIf')" mat-raised-button>ngIf</button>
        </div>

        <div class="align">   
            <button [ngClass]="{clickCss : clicked == ngSwitch}" (click)="changeAction('ngSwitch')" mat-raised-button>ngSwitch</button>
        </div>

    </mat-drawer>
    <mat-drawer-content style="margin-left: 20vh;"> 
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
