
<div>
   <p>{{Teatre}}</p>
</div>
<div *ngFor="let item of items">
<ul>
    <li>movie: {{item.movie}}</li>
    <li>release date: {{item.time | date}}</li>
    <li>ticketprice: {{item.tcktprice | currency: 'INR'}}</li>
</ul>
</div>
