
<div class="col-md-12">
    <button [ngClass]="{click : clicked}" (click)="changeCss()" mat-raised-button color="warn">ngclass</button>
</div>

<div>
    Month and date :{{day | date}}
</div>
<div>
    Currency : {{bucks | currency: 'INR'}}
</div>

<div *ngIf="noRoute; else routeBtn">
    <p>click to route</p>
</div>
<ng-template #routeBtn>

    <div class="col-md-12">

        <button class="cssAlign" (click)="navigate()" mat-raised-button color="warn">home page</button>
    </div>
</ng-template>
