


<div *ngIf="usAvail">
    <div class="col-md-12">
        <button (click)="Action()" mat-raised-button color="warn">logIn</button>
    </div>
</div>

<div *ngIf="logIn then loggedIn else loggedOut"></div>

<ng-template #loggedIn>
    <button (click)="Action()" mat-raised-button color="warn">logIn</button>
</ng-template>
<ng-template #loggedOut>
    <p>usname:{{name}}</p>
    <button (click)="Action()" mat-raised-button color="warn">log Out</button>
</ng-template>
