
<select [(ngModel)]="selectedColor">
    <option *ngFor="let item of items" [value]="item.colour">{{item.colour}}</option>
</select>

<div [ngSwitch]="selectedColor">
    <div class="cssColor" *ngSwitchCase="'black'">'you chose black'</div>
    <div class="cssColor" *ngSwitchCase="'red'">'you chose red'</div>
    <div class="cssColor" *ngSwitchCase="'green'">'you chose green'</div>
    <div class="cssColor" *ngSwitchCase="'yellow'">'you chose yellow'</div>
</div>
